PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/structural_health_monitoring
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=30d
AI_SERVICE_URL=http://127.0.0.1:8000
CLIENT_URL=http://localhost:5173
